@import "src/utils/variables";

.graphics-selector {
  padding-top: $margin;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: $tablet) {
  .graphics-selector {
    .chip {
      padding: 4px 12px;
      margin: 4px 6px;
    }
  }
}