@import "src/utils/variables";

.button {
  border: none;
  color: $primary-text-color;
  margin-left: $margin * 0.8;
  font-size: 1rem;
  background-color: $background-color-btn;
  padding: 6px 20px;
  cursor: pointer;
  outline: none;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  font-family: "Roboto", sans-serif;

  &.active {
    background-color: $background-color-btn-active;
  }

  &.active:hover {
    background-color: $background-color-btn-hovered;
  }
}
