@import "../../../utils/variables";

.chip {
  background-color: $background-color-light;
  margin-right: 8px;
  border-radius: 15px;
  padding: 6px 11px;
  color: $text-color;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  user-select: none;
  display: flex;
  align-items: center;

  &.active {
    background-color: $background-color;
  }

  &.editable:hover {
    background-color: #2782de;
  }
  &.editable.active:hover {
    background-color: #7ebfff;
  }
}