$background-color-btn: rgba(6, 127, 224, 0.42);
$background-color-btn-active: #037ae7;
$background-color-btn-hovered: #0b5ba8;

$background-color: #145da0;

$background-color-hovered: #116dc6;
$background-color-light: rgba(0, 137, 253, 0.28);
$background-color-ultra-light: #e0e4ec;

$primary-text-color: #fff;
$secondary-text-color: #44719c;
$body-text-color: #5789b9;

$table-border-color: #5789b9;

$border-radius: 8px;

$body-background-color: #0f0;
$app-background-color: #0f0;

$margin: 21px;
$margin-sm: 14px;

$phone: 640px;
$tablet: 768px;
$desktop: 1024px;
