@import "src/utils/variables";

.app-header {
  padding-top: $margin;
  
  .title {
    padding: 8px;
    background-color: $background-color;
    font-size: 2rem;
    color: $primary-text-color;
    text-align: center;
  }
}

@media (max-width: $tablet) {
  .app-header .title {
    font-size: 1.5rem;
    padding: 6px;
  }
}
@media (max-width: $phone) {
  .app-header .title {
    font-size: 1.25rem;
  }
}
