@import "src/utils/variables";

.dataset {
  padding-top: $margin;

  .content {
    background-color: $background-color-ultra-light;
    padding: 8px;
    font-size: 0.88rem;
    color: $background-color;
    white-space: pre-wrap;

    &.hide {
      display: none;
      padding: 0;
    }

    strong {
      font-weight: 600;
    }
  }
}