@import "utils/variables";

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background: url("https://i.pinimg.com/originals/37/73/a1/3773a1822965f7219b36eff612779b10.jpg") fixed;
  z-index: -2;

  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
  }
}

#root {
  box-sizing: border-box;

  .App {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 $margin $margin $margin;
    background: rgba(248, 245, 245, 0.985);
    box-shadow: 2px 3px 4px black;
  }
}

@media (min-width: $phone) and (max-width: $tablet) {
  #root .App {
    width: 90%;
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  #root .App {
    width: 80%;
    max-width: 1000px;
  }
}

@media (min-width: $desktop) {
  #root .App {
    width: 70%;
    max-width: 1150px;
  }
}

.table {
  width: 100%;
  color: $body-text-color;
  border: 1px $table-border-color solid;
  font-size: 1rem;

  td {
    border: 1px $table-border-color solid;
    padding: 4px 5px;
  }

  thead {
    td {
      color: #fff;
      background-color: $background-color;
      border-right: 1px $table-border-color solid;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}

.section-title {
  background-color: $background-color;
  color: $primary-text-color;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: flex;
  align-items: center;
  cursor: pointer;

  &.shrink {
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  i {
    cursor: pointer;
    font-size: 1rem;
    margin: 6px 0 6px 10px;
  }

  span {
    font-size: 1rem;
    margin: 6px 8px;
  }
}
.section-content {
  background-color: $background-color-ultra-light;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  padding: 6px 8px;
  font-size: 0.9rem;
  color: $background-color;
  white-space: pre-wrap;

  &.hide {
    display: none;
    padding: 0;
  }

  p {
    display: flex;
    flex-wrap: wrap;

    span {
      margin-right: 14px;
      margin-top: 1.5px;
      margin-bottom: 1.5px;
    }

    strong {
      font-weight: 600;
    }

  }

}