@import "src/utils/variables";

.ActionButtons {
  padding-top: $margin;

  .ActionBtn {
    background-color: $background-color-light;
    font-size: 1rem;
    color: $text-color;
    text-align: center;
    padding: 6px 10px;
    margin-right: 14px;
    cursor: default;
    transition: 100ms linear;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    border: none;
    outline: none;
  }

  .show {
    display: block;
  }
  .none {
    display: none;
  }

  .active {
    background-color: $background-color;
    cursor: pointer;
  }
  .active:hover {
    background-color: $background-color-hovered;
    cursor: pointer;
  }
}
